*{
    margin:0px;
    padding:0px;
}

.table-center{
    width: 400px;
    font-size: 2rem;
    height: 200px;

    background-color: bisque;

    /* display: table-cell;
    vertical-align: middle;
    text-align: center; */

    position: relative;

}


.inner-div{
    width: 50px;
    height: 50px;
    background-color: black;

   /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* inset: 0;  top: 0, left:0, bottom:0, right:0  */
    /* margin: auto;
    position: absolute; */
}

.container{
    background-color: brown;
}

/* For Testing layouts */
.flex-container{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: space-between;
}
.flex-item{
    background-color: rgb(244, 66, 188);
    border: 1px solid black;

    width: 24%;
}
.border-shadow{
    border-radius: 20px;
    box-shadow: 0 0 40px -20px;
}
.border{
    border: 1px solid black;
}
.upper-case{
    text-transform: uppercase;
}

.rollover{
    background-color: aqua;
}

.special-info{
    background-color: aliceblue;
    height: 100vh;
}

.our-schools{
    background-color: bisque;
    min-height: 100vh;
}
.our-history{
    background-color: #fff;
}
.specialty{
    background-color: #fff;
    min-height: 100vh;
}

.awards-library{
    background-color: rgb(185, 138, 228);
    height: 100vh;
}

.blog-news{
    background-color: rgb(168, 210, 248);
    min-height: 100vh;
}

.about{
    background-color: rgb(5, 42, 75);
    height: 100vh;
}

.statistics{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

/* SPecial Info section */

.special-info{
    padding: 80px !important;
}

.special-info .news-updates{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.news-updates .flex-item-1{
    background-color: bisque;
    width: 30%;
}
.news-updates .flex-item-2{
    background-color: rgb(21, 157, 39);
    width: 70%;
}
.news-updates > .f-item{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
.news-updates > .flex-item-2{
    color: yellow;
}

.special-info .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.special-info .flex-item{
    background-color: rgb(225, 245, 217);
    border: 3px solid black;
    border-radius: 40px;
    margin-top: 20px;

    width: 32%;
}

.special-info .special.image-card{
    background-color: aliceblue;
    height: 30vh;

    border-radius: 40px 40px 0 0;
}

.flex-item h3,p,pre{
    text-align: center;
    
}
.flex-item h3{
font-size: 30px;
font-weight: 600;
text-transform: uppercase;
}


/* Our Schools section */
.our-schools .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.our-schools .flex-item{
    background-color: rgb(225, 245, 217);
    border: 1px solid black;

    width: 15%;
}

.our-schools .special.image-card{
    background-color: aliceblue;
    min-height: 20vh;
}

.our-schools .flex-item.preview-content{
    background-color: rgb(225, 245, 217);
    border: 1px solid black;

    width: 97%;
    min-height: 60vh;
}


/* Proprietor Desk Segment */

.proprietor-desk .statement{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* 
    Team members section
 */
.team{
    background-color: #fcfcfc;
    
}

.team .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 40px;
    
}
.team .flex-item{
    background-color: #fff;
    border: none;
    width: 18%;
    text-align: center;
    padding-top: 30px;
}

.team .image-round.image-card{
    border-radius: 50%;
    border: 5px solid rgb(97, 97, 251);
    width: 180px;
    height: 180px;
    background-color: #fcfcfc;
    align-content: center;
    box-shadow: inset 0em ;
    margin-left: 50px;
}

/* 
    Call to Action
 */

.call-to-action{
    background-color: rgb(169, 206, 239);
    /* height: 100vh; */
}

.call-to-action .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 80px 40px;
    margin-right: 5%;
    
}
.call-to-action .flex-item{
    background-color: #fff;
    border: none;
    width: 40%;
    text-align: center;
    padding: 30px;
    opacity: 0.9;
    border-end-end-radius: 50px;
}

.call-to-action h4{
    text-align: left;
}

.container.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.call-to-action .button{
    background-color: rgb(197, 229, 83);
    border: 3px solid black;
    border-radius: 20px;
    width: 32%;
    text-align:center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;

    font-size: 15px;
    font-weight: 600;
}


/* 
Hero page - Rollove Images

 */
 
.rollover .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 40px;
}
.rollover .flex-item{
    background-color: transparent;
    border: none;
    width: 40%;
    text-align: left !important;
    color: #fff;
}

.rollover .flex-item .hero-about{
    padding-top: 6% !important;
}
.rollover-content-1{
    position: relative;
    height: 60vh;
}
/* .rollover-content-1.hero-about{
    position: relative;
    height: 40vh;
} */
.hero-mini.rollover-content-1{
    position: relative;
    height: 20vh !important;
}
.hero-mini.rollover-content-2{
    position: relative;
    height: 20vh !important;
}
.hero-about.rollover-content-1{
    position: relative;
    height: 70vh !important;
}
.hero-about.rollover-content-2{
    position: relative;
    height: 70vh !important;
}

.rollover-content-1 h1{
    color: #fff !important;
}
.rollover-content-1 .middle{
    text-align: right;
    margin-top: 15vh;
    color: pink !important;
}
.rollover-content-1 .middle h1{
    color: pink;
}

.rollover-content-1 .bottom{
    position: absolute;
    bottom: 10px;
}

.rollover-content-2 p{
    font-size: 25px;
    line-height: 30px;
    
    text-align: left;
    font-weight: 500; 
}
.rollover-content-2 .hero-about{
    font-size: 30px;
    line-height: 35px;
    padding: 50px;
    
    text-align: left;
    font-weight: 500; 

    position: absolute;
    bottom: -40px;
}
.hero-mini.rollover-content-2 p{
    font-size: 20px;
    
    text-align: left;
    font-weight: 500;

    position: absolute;
    bottom: -60px;
}

.hero-about.rollover-content-2 p{
    font-size: 30px;
    line-height: 35px;
    padding: 50px;
    
    text-align: left;
    font-weight: 500;

    position: absolute;
    bottom: -40px;
}

/* Parent Reviews */

.reviews{
    background-color: rgb(179, 225, 11);
    min-height: 100vh;
}


/* 
Contact Page
 */
.contact {
    background-color: rgb(179, 225, 11);
    min-height: 100vh;
}

.contact-info{
    background-color: aliceblue;
    height: 100vh;
    padding: 80px !important;
}

.contact-info .flex-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.flex-container .flex-item-ctc{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    
}

.contact-details{
    margin: 10px 30px;
}
.contact-details .details{
    display: block;
}

.contact-social{
    margin: 10px 50px;
}

.contact-team .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px;
    
}
.contact-team .flex-item{
    background-color: #fff;
    border: none;
    width: 30%;
    text-align: center;
    padding-top: 30px;
}

.contact-team .image-round.image-card{
    border-radius: 50%;
    border: 3px dashed rgb(251, 198, 39);
    width: 90px;
    height: 90px;
    background-color: #fcfcfc;
    align-content: center;
    box-shadow: inset 0em ;
    margin-left: 50px;
}

.contact-team p{
    font-size: medium;
}
.contact-team .flex-item h4{
    font-weight: 600;
    font-size: smaller;
    margin: 0px;
}
.contact-team .title{
    margin: 10px 30px;
    font-size: 20px;
    font-weight: 700 !important;
}